{% extends "base.html" %}

{% block header_content %}
<h2>Про нас</h2>
{% endblock %}

{% block main_content %}
<div class="breadcrumb-items bg-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Page</a></li>
                    <li class="active">About</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Start About
============================================= -->
<div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-info">
                <h2>Приветствуем на одном из крупнейших маркетплейсов теннисных акссесуаров!</h2>
                <p>
                    Добро пожаловать! TENNISINO - достаточно молодой интернет-магазин на российском рынке, но уже завоевавший доверие многих людей. Мы не стремимся «нагреться» на покупателях. Наш интернет магазин предлагает кроссовки, ракетки, мячи и другие товары для игры в теннис хорошего качества от популярных брендов, таких как Babolat, Wilson, Head, Dunlop, Nike, Adidas, Asics и др. Наш интернет-магазин предложит Вам любые модели по приемлемой цене, а самое главное именно те, которые Вы так долго искали.
                </p>
                <div class="fun-fact-items">
                    <div class="fun-fact">
                        <div class="timer icon-inc" data-to="47" data-speed="5000">47</div>
                        <span class="medium">Expert Developer</span>
                    </div>
                    <div class="fun-fact">
                        <div class="timer icon-inc" data-to="3407" data-speed="5000">3407</div>
                        <span class="medium">Community Users</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right-info">
                <ul>
                    <li>
                        <h4>Быстро</h4>
                        <p>

                        </p>
                    </li>
                    <li>
                        <h4>Выгодно</h4>
                        <p>

                        </p>
                    </li>
                    <li>
                        <h4>Надёжно</h4>
                        <p>

                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}