{% extends "base.html" %}

{% block header_content %}
<div class="hero-box">
    <h2>Интернет-магазин акссесуаров для большого тенниса</h2>
    <p>
        Добро пожаловать! <i><b>TENNISINO</b></i> - достаточно молодой интернет-магазин на российском рынке,
        но уже завоевавший доверие многих людей. Мы не стремимся «нагреться» на покупателях. Наш интернет магазин
        предлагает кроссовки, ракетки, мячи и другие товары для игры в теннис хорошего качества от популярных брендов,
        таких как Babolat, Wilson, Head, Dunlop, Nike, Adidas, Asics и др. Наш интернет-магазин предложит Вам
        любые модели по приемлемой цене, а самое главное именно те, которые Вы так долго искали.
    </p>
</div>
<div class="search-box">
    <form action="/products_by_data", method="GET">
        <input type="text" placeholder="Search" class="form-control" name="data">
        <button type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>
{% endblock %}